{% extends 'base.html' %}

{% block title %} Добавить фотосессию {% endblock %}

{% block heading_page %} Создание фотосессии {% endblock %}

{% block description_page %} {% endblock %}


{% block breadcrumb %}
                            <li class="breadcrumb-item"><a href="/photo">Фотосессии</a></li>
                            <li class="breadcrumb-item active"><a>Создать фотосессию</a></li>
{% endblock %}

{% block content %}


<div class="col-lg-12">
<div class="col-xl-12 col-xxl-12">
                        <div class="card row">
                            <div class="card-body">
                                <!-- Nav tabs -->
                                <div class="default-tab">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#home"><i class="las la-question-circle"></i> Информация</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#profile"><i class="las la-user mr-2"></i> Клиент</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#contact"><i class="las la-book mr-2"></i> Печатная продукция</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#message"><i class="la la-envelope mr-2"></i> Message</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="home" role="tabpanel">
                                            <div class="pt-4">
                                                 <h4>Заказ</h4>
                                                 <input type="file" multiple>
                                                
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="contact">
                                             <div class="pt-4">

                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="profile">

                                            <h4 class="card-title mt-4 mb-4">Контактные данные клиента</h4>

                                                <div class="col-lg-6 mb-2">
                                                    <div class="form-group">
                                                        <label class="text-label">Имя*</label>
                                                        <input type="text" name="firstName" class="form-control" placeholder="Иван" required="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-2">
                                                    <div class="form-group">
                                                        <label class="text-label">Фамилия*</label>
                                                        <input type="text" name="lastName" class="form-control" placeholder="Петров" required="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 mb-2">
                                                    <div class="form-group">
                                                        <label class="text-label">Email*</label>
                                                        <input type="email" class="form-control" id="inputGroupPrepend2" aria-describedby="inputGroupPrepend2" placeholder="example@example.com" required="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 mb-2">
                                                    <div class="form-group">
                                                        <label class="text-label">Номер телефона*</label>
                                                        <input type="text" name="phoneNumber" class="form-control" placeholder="+7(999)-999-99-99" required="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 mb-3">
                                                    <div class="form-group">
                                                        <label class="text-label">Город клиента*</label>
                                                        <input type="text" name="place" class="form-control" required="">
                                                    </div>
                                                </div>


                                        </div>
                                        <div class="tab-pane fade" id="message">
                                             <div class="pt-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var files = []
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.setOptions({
            allowMultiple:true,
        })
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create( inputElement, {
            acceptedFileTypes:['image/png', 'image/jpeg'],
            onaddfile: (err, fileItem) => {
                if (!err) {
                files.push(fileItem.file)
                }
                console.log(files)
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file)
                if (index > -1) {
                    files.splice(index, 1)
                }
                console.log(files)
            }
        } );

        var formData = new FormData();
        $(document).on('click', '#saveBtn', function(e) {
            formData.append('length', files.length)
            formData.append('City', $('#City').val())
            formData.append('Boat', $('#Boat').val())
            for (var i = 0; i < files.length; i++) {
                formData.append('images' + i, files[i])
            }
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            $.ajax({
                url: '{% url "add-photosessions" %}',
                type: 'POST',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (){
                    alert('The post has been created!')
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ":" + xhr.responseText)
                }
            })
        })
    })
</script>



        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       <!-- FilePond Stuff -->
        <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
        <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
        <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
        <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>

{% endblock %}
