{% extends "base_login.html" %}
{% block title %}Новый пароль{% endblock %}

{% block content %}
    {% if validlink %}
        <h3 class="text-center mb-3">Создание пароля</h3>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
                    {{ form.new_password1.errors }}
            <label for="id_new_password1"><strong>Новый пароль:</strong></label>
                    <p>{{ form.new_password1 }}</p>
                    <p>{{ form.new_password2.errors }}</p>
                    <label for="id_new_password2"><strong>Подтвердить пароль:</strong></label>
                    <p>{{ form.new_password2 }}</p>
                    <input type="submit" class="btn btn-primary btn-block" value="Сохранить" />
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}